* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fcf4fb;
  overflow-x: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  max-width: 800px;
  margin-top: 80px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px; /* Space between heading and text */
  font-weight: bold;
  color: black;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 0; /* Ensure no extra margin at the top */
  margin-bottom: 30px;
  max-width: 600px;
  line-height: 1.6;
  color: black;
}

.btn-primary {
  padding: 15px 30px;
  font-size: 1rem;
  color: white;
  background-color: rgb(78, 78, 184);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: rgb(78, 78, 184);
}

